/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/*******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

/*******************************************
/* LAYOUT
/*******************************************/
body {
  /* background-color: #fbc201; */
  background: #fbc201;
  /* background: url("../dog.jpg"); */
}

#dog-bg {
  position: absolute;
  bottom: 0;
  right: 0;
}

header {
  margin-bottom: 30px;
  text-align: center;
  background: white;
}

h2 {
  margin: 10px;
  padding: 15px;
}

select {
  font-size: 1rem;
}

.section-container {
  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5vw; /* vw & vh -> takes 10% of the viewport and uses that. adapts to the space you have available */
  padding-right: 5vw;
  height: 100%;
}

.img-container {
  padding: 10px;
}

img {
  max-width: 700px;
  max-height: 500px;
  border-radius: 10px;
}

.column {
  width: 75%;
}

span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2rem;
}

#dog-name {
  text-decoration: none;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

#left-column {
  text-align: center;
}
